html{box-sizing: border-box;}
*,
*::before,
*::after{
  box-sizing: inherit;
}

/* -> RESET TAGS */
a{text-decoration: none;}
textarea{
  background-color: transparent;
  outline: none;
  border: none;
  resize: none;
}
img{
  display: block;
  max-width: 100%;
}
h2,
p{
  margin: 0;
}
/* -> */

body{
  font-family: var(--inter);
  background-color: var(--bg-main);
}

:root{
  --inter: 'Inter', sans-serif;
  --bg-main: hsl(227, 60%, 97%);
  --dark-blue: hsl(213, 84%, 24%);
  --gray: hsl(214, 26%, 88%);
  --gray-500: hsl(210, 10%, 23%);
  --gray-400: hsl(210, 9%, 31%);
  --white: hsl(0, 0%, 100%);
  --bd-rd: 1rem;
}

.header{
  max-width: 67.5rem;
  padding: 1.5rem 1rem;
}

.main{
  max-width: 67.5rem;
  margin-inline: auto;
  padding-inline: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* -> ENTRY INPUT */
.entry-form{
  width: 100%;
  max-width: 42.5rem;
}
.input-txt{
  width: 100%;
  color: var(--dark-blue);
  font-size: 2rem;
}
.wrapper-info{
  margin-block: 1rem;
  display: flex;
  align-items: center;
  gap: .5rem;
  font-size: .75rem;
  color: var(--gray-400);
}
.icon{
  width: 1.5rem;
  aspect-ratio: 1;
}

/* -> BUTTONS*/
.wrapper-btn{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.btn{
  width: 100%;
  padding: 1.5rem;
  border: thin solid currentColor;
  border-radius: var(--bd-rd);
  cursor: pointer;
}
.paste-btn{
  display: block;
  margin-left: auto;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
.encrypt-btn,
.copy-btn{
  color: var(--white);
  background-color: var(--dark-blue);
  transition: transform .2s ease-in-out;
}
.decrypt-btn,
.reset-btn{
  color: var(--dark-blue);
  background-color: transparent;
  transition: transform .2s ease-in-out;
}


/* -> HERO*/
.hero,
.result-form{
  margin-top: 4rem;
  border-radius: var(--bd-rd);
  box-shadow: 0 1.5rem 2rem -.5rem hsla(0, 0%, 0%, .08);
}
.hero{
  width: 100%;
  padding: 2rem;
  display: grid;
  justify-items: center;
  text-align: center;
  background-color: var(--white);
}
.hero__ttl{
  color: var(--gray-500);
}
.hero__prr{
  color: var(--gray-400);
}

/* -> RESULT FORM */
.result-form{
  display: none;
  padding: 2rem;
  align-items: center;
  grid-template-rows: 1fr auto;
  background-color: var(--white);
}
.output-txt{
  width: 100%;
  color: var(--gray-400);
}

/* -> SHOW / HIDE */
.show-result{
  display: grid;
}
.hide-hero{
  display: none;
}


/* -> FOOTER */
.attr{
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-size: .75rem;
  text-align: center;
  color: var(--gray-500);
}
.attr__lnk{
  position: relative;
  font-weight: 700;
  color: var(--dark-blue);
}



/* -> TABLET */
@media screen and (min-width: 48rem){
  .header{
    padding: 4.5rem 2.5rem;
  }
  .main{
    padding-inline: 2.5rem;
  }
  .wrapper-btn{
    flex-wrap: unset;
  }
  .btn{
    max-width: 20.75rem;
  }
  .copy-btn{
    display: block;
    margin-inline: auto;
  }
}

/* -> LAPTOP */
@media screen and (min-width: 62.5rem){
  .main{
    flex-wrap: unset;
    gap: 1rem;
  }
  .hero,
  .result-form{
    max-width: 20rem;
  }
}
@media screen and (min-width: 85.375rem){
  .header{
    padding: 4.5rem 6rem;
  }
  .main{
    gap: 2rem;
  }
  .hero,
  .result-form{
    max-width: 25rem;
  }
}



/* -> INPUT PLACEHOLDER */
.input-txt::placeholder{
  color: var(--dark-blue);
}


/* -> FOOTER - HOVER STATE */
.attr__lnk::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: var(--dark-blue);
  transform: scale(0);
  transition: transform .2s ease-in-out;
}
.attr__lnk:hover::after{
  transform: scale(1);
}

/* -> BUTTONS - HOVER STATE */
.encrypt-btn:hover,
.copy-btn:hover{
  background-color: hsl(213, 84%, 24%, .93);
  transform: scale(1.03);
}
.decrypt-btn:hover,
.reset-btn:hover{
  background-color: hsl(50,0%, 0%, .8);
  color: hsl(0, 0%, 100%);
  transform: scale(1.03);
}